// Colors
$primaryColor: #182C61;
$secondaryColor: #44bd32;
$bgPageColor: #f5f6fa;
$productButtonHover: #4cd137;

// Fonts
$primaryFont: Roboto, sans-serif;

// Breakpoints

$mobile: 767px;
$tablet: 1023px; 